<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> Phân loại hoa Iris </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> Chiều dài đài hoa :  <input type="text", name='a', placeholder="Nhập giá trị vào đây "> <br><br>
            Chiều rộng đài hoa :  <input type="text", name='b', placeholder="Nhập giá trị vào đây"> <br><br>
            Chiều dài cánh hoa :  <input type="text", name='c', placeholder="Nhập giá trị vào đây"> <br><br>
            Chiều rộng cánh hoa : <input type="text", name='d', placeholder="Nhập giá trị vào đây"> <br><br><br></b>
            <input type="submit" , value='Dự đoán!' >
        </form>

        <img src='static\flower1.jpg' alt="flower">
        
    </center>

    </body>
</html>
